* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #fbf6ff; 
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(./images/background.png);
    background-position: center;
    background-size: cover;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.navbar img {
    width: 130px;
}

.navbar .btn {
    padding: 10px 20px;
    background-color: #fbf6ff;
    color: rgb(31, 31, 31);
    border: none;
    border-radius: 3px;
}

.container{
    padding: 20px 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

.container p{
    font-size: 1.2rem;
}

.container h1{
    font-size: 4rem;
    font-weight: 600;
    margin-top: 10px;
}

.container h1 span{
    font-size: inherit;
    color: #ff3753;
}

.container .launching-time{
    display: flex;
    margin-bottom: 30px;
}

.container .launching-time div{
    flex-basis: 100px;
}

.container .launching-time div p{
    font-size: 3.5rem;
}

.container button{
    background-color: transparent;
    border-radius: 3px;
    border: 2px solid #fbf6ff;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    justify-content: space-between;
}

.container button img{
    width: 15px;
}

.rocket{
    position: absolute;
    width: 250px;
    right: 10%;
    bottom: 0;
    animation: rocket 4s linear infinite;
}

@keyframes rocket{
    0%{
        bottom: 0;
        opacity: 0;
    }
    100%{
        bottom: 105%;
        opacity: 1;
    }
}